#### TASK 1

In [1]:
import numpy as np
import pandas as pd

//Code for creating the text dataset<br>
import random<br>
for i in range(0,400):<br>
    n = random.randint(3,12)<br>
    if(n<4):<br>
        x=random.randint(1,4)<br>
    elif(n>=5 and n<10):<br>
        x=random.randint(4,12)<br>
    else:<br>
        x=random.randint(2,5)<br>
    print(str(n)+"  "+str(x))<br>

In [2]:
df = pd.read_csv('trainingdata.txt', sep=" ")
df

     sleep_hours  Unnamed: 1  active_hours
0              8         NaN             7
1              9         NaN             6
2              4         NaN             2
3             12         NaN             2
4             11         NaN             2
..           ...         ...           ...
395            7         NaN             7
396            9         NaN            11
397            7         NaN             4
398           10         NaN            12
399            4         NaN             3

[400 rows x 3 columns]

In [3]:
data = df.drop(['Unnamed: 1'],axis=1)
data

     sleep_hours  active_hours
0              8             7
1              9             6
2              4             2
3             12             2
4             11             2
..           ...           ...
395            7             7
396            9            11
397            7             4
398           10            12
399            4             3

[400 rows x 2 columns]

In [4]:
x = data.iloc[:,0].values
x = x.reshape(-1, 1)
y = data.iloc[:,1].values

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [6]:
#from sklearn.tree import DecisionTreeRegressor
#regressor = DecisionTreeRegressor(random_state=0)
#from sklearn.ensemble import RandomForestRegressor
#regressor = RandomForestRegressor(n_estimators=10, random_state=0)
#from sklearn.svm import SVR
#regressor = SVR(kernel = 'rbf') 

from sklearn.svm import SVC
regressor = SVC(kernel='rbf',random_state=0)

regressor.fit(x_train,y_train)

SVC(random_state=0)

In [7]:
#regressor.predict([[6]])
y_pred = regressor.predict(x_test)
y_test = y_test.reshape(-1,1)

In [8]:
regressor.score(y_test,y_pred)

0.6

In [9]:
import pickle

In [10]:
pickle.dump(regressor,open('task1.pkl','wb'))

In [11]:
model = pickle.load(open('task1.pkl', 'rb'))